.DS_Store
Thumbs.db
*.log

`/backend/.gitignore`

.gradle/
build/
.idea/
*.iml
*.iws
*.ipr
out/

.vscode/

`/mobile/.gitignore`

.gradle/
.kotlin/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

local.properties
.externalNativeBuild/
.cxx/
captures/